%link{:href => "/assets/css/keen-dashboards.css", :rel => "stylesheet"}/

.row
  .col-sm-3
    .chart-wrapper
      .chart-title
        Cell Title
      .chart-stage
        %img{"data-src" => "holder.js/100%x120/white"}/
      .chart-notes
        Notes about this chart
  .col-sm-9
    .chart-wrapper
      .chart-title
        Cell Title
      .chart-stage
        %img{"data-src" => "holder.js/100%x120/white"}/
      .chart-notes
        Notes about this chart

.row
  .col-sm-3
    .chart-wrapper
      .chart-title
        Cell Title
      .chart-stage
        %img{"data-src" => "holder.js/100%x120/white"}/
      .chart-notes
        Notes about this chart
  .col-sm-9
    .chart-wrapper
      .chart-title
        Cell Title
      .chart-stage
        %img{"data-src" => "holder.js/100%x120/white"}/
      .chart-notes
        Notes about this chart

.row
  .col-sm-3
    .chart-wrapper
      .chart-title
        Cell Title
      .chart-stage
        %img{"data-src" => "holder.js/100%x120/white"}/
      .chart-notes
        Notes about this chart
  .col-sm-9
    .chart-wrapper
      .chart-title
        Cell Title
      .chart-stage
        %img{"data-src" => "holder.js/100%x120/white"}/
      .chart-notes
        Notes about this chart

.row
  .col-sm-3
    .chart-wrapper
      .chart-title
        Cell Title
      .chart-stage
        %img{"data-src" => "holder.js/100%x120/white"}/
      .chart-notes
        Notes about this chart
  .col-sm-9
    .chart-wrapper
      .chart-title
        Cell Title
      .chart-stage
        %img{"data-src" => "holder.js/100%x120/white"}/
      .chart-notes
        Notes about this chart

%script{:src => "/assets/js/highcharts.js"}
%script{:src => "/assets/js/modules/exporting.js"}

