.footer
  .footer-inner
    / #section:basics/footer
    .footer-content
      %span.bigger-120
        %span.blue.bolder Ace
        Application &copy; 2013-2014
      \&nbsp; &nbsp;
      %span.action-buttons
        %a{:href => "#"}
          %i.ace-icon.fa.fa-twitter-square.light-blue.bigger-150
        %a{:href => "#"}
          %i.ace-icon.fa.fa-facebook-square.text-primary.bigger-150
        %a{:href => "#"}
          %i.ace-icon.fa.fa-rss-square.orange.bigger-150
            / /section:basics/footer
