- model_class = Contribution
.page-header
  %h1
    = t '.title', :default => model_class.model_name.human.pluralize(:ja).titleize
    %small
      %i.ace-icon.fa.fa-angle-double-right
      Common form elements and layouts

.space-8

= link_to 'New Contributor', new_contribution_path, class: 'btn btn-primary'
