.row
  .col-sm-10.col-sm-offset-1
    .login-container
      .center
        %h1
          %i.ace-icon.fa.fa-leaf.green
          %span.red Ace
          %span#id-text2.white Application
        %h4#id-company-text.blue &copy; Company Name
      .space-6
      .position-relative
        = render partial: 'devise/sessions/login_box'
        = render partial: 'devise/sessions/forgot_box'
        = render partial: 'devise/sessions/signup_box'
      .navbar-fixed-top.align-right
        %br/
        \&nbsp;
        %a#btn-login-dark{:href => "#"} Dark
        \&nbsp;
        %span.blue /
        \&nbsp;
        %a#btn-login-blur{:href => "#"} Blur
        \&nbsp;
        %span.blue /
        \&nbsp;
        %a#btn-login-light{:href => "#"} Light
        \&nbsp; &nbsp; &nbsp;

/ [if !IE]>
:javascript
  window.jQuery || document.write("<script src='/assets/js/jquery.js'>"+"<"+"/script>");
/ <![endif]
/[if IE]
<script type="text/javascript">
window.jQuery || document.write("<script src='/assets/js/jquery1x.js'>"+"<"+"/script>");
</script>
:javascript
  if('ontouchstart' in document.documentElement) document.write("<script src='/assets/js/jquery.mobile.custom.js'>"+"<"+"/script>");
/ inline scripts related to this page
:javascript
  jQuery(function($) {
    $(document).on('click', '.toolbar a[data-target]', function(e) {
    e.preventDefault();
    var target = $(this).data('target');
    $('.widget-box.visible').removeClass('visible');//hide others
    $(target).addClass('visible');//show target
    });
  });



  //you don't need this, just used for changing background
  jQuery(function($) {
    $('#btn-login-dark').on('click', function(e) {
    $('body').attr('class', 'login-layout');
    $('#id-text2').attr('class', 'white');
    $('#id-company-text').attr('class', 'blue');

    e.preventDefault();
    });
    $('#btn-login-light').on('click', function(e) {
    $('body').attr('class', 'login-layout light-login');
    $('#id-text2').attr('class', 'grey');
    $('#id-company-text').attr('class', 'blue');

    e.preventDefault();
    });
    $('#btn-login-blur').on('click', function(e) {
    $('body').attr('class', 'login-layout blur-login');
    $('#id-text2').attr('class', 'white');
    $('#id-company-text').attr('class', 'light-blue');

    e.preventDefault();
    });

  });
