- model_class = Post
.page-header
  %h1
    = t '.title', :default => model_class.model_name.human.pluralize(:ja).titleize
    %small
      %i.ace-icon.fa.fa-angle-double-right
      Common form elements and layouts


.row
  .col-xs-12
    = render partial: 'posts/shared/tables', locals: {model_class: model_class, posts: @posts}

.space-4

= link_to t('.new', :default => t("helpers.links.new")), new_post_path, :class => 'btn btn-primary'
